# Server Environment Variables (server/.env)
NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/?appName=Cluster0
DB_NAME=merch_store
JWT_SECRET=your_super_secret_jwt_key_here
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Client Environment Variables (client/.env)
VITE_API_URL=http://localhost:5000/api

# Admin Environment Variables (admin/.env)
VITE_API_URL=http://localhost:5000/api/v1
